{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest",
    "eslint-plugin-react"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "amd": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "React": true,
    "document": true,
    "require": true,
    "window": true,
    "localStorage": true
  },
  "rules": {
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React", // Pragma to use, default to "React"
      "version": "16.14"
    },
  }
}