.background-image__label {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f2d3c;
  margin-bottom: 14px;
}

.background-image__button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-position: center center;
  background-size: 100px;
}
