.appbar__delegate-button  {
  height: 38px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #13CE66;
  border: 1px solid #13CE66;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100px;
}